body{
  margin: 0;
  min-height: 100vh;
  text-align: center;
  background-image: url("./images/רקע של ג'ונגל.png");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

#title{
  font-family: "Rubik Bubbles", system-ui;
font-size: clamp(28px, 6vw, 48px);
  color: white;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
  margin: 30px 0 10px;
}

.set{
  width: min(900px, 95vw);
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.animal{
  height: 160px;
  border-radius: 18px;
  border: 2px solid rgba(174, 114, 114, 0.5);
  cursor: pointer;

  background-size: cover;
  background-position: center;

  color: white;
  font-size: 28px;
  font-weight: 800;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.8);
}

.pressed{
  transform: scale(0.97);
  box-shadow: 0 0 0 4px rgba(0,255,160,0.6);
}

/* רספונסיביות */
@media (max-width: 700px){
  .set{ grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 420px){
  .set{ grid-template-columns: 1fr; }
}
